<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spring project Scene, Share</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/common.css">
    <script src="../js/common.js"></script>

</head>


<body>
    <div class="wrap">

        <header th:replace="~{/user/layout/header :: headerBasic('검색결과 리스트')}"></header>


        <main>
            <div class="search-result">
                <div class="container">
                    "입력한 텍스트"의 검색 결과
                </div>
            </div>

            <div class="container page-bottom">

                <!-- 검색 결과가 없는 경우 -->
                <div class="none h100">검색 결과가 없습니다. <br/>다른 검색어를 입력해보세요.</div>

                <!-- 검색 결과 리스트 -->
                <div class="movie-list">
                    <div class="movie-box">
                        <div class="movie-img">
                            <a href="#">
                                <figure>
                                    <img src="../img/test1-img.jpg">
                                </figure>
                            </a>
                        </div>
                        <div class="movie-title">
                            <p class="sTitle">하이파이브</p>
                            <p class="gpa">평점<img src="../img/star_icon.svg" alt="star_icon">
                                <em>3.2</em>
                            </p>
                        </div>
                    </div>

                    <div class="movie-box">
                        <div class="movie-img">
                            <a href="#">
                                <figure>
                                    <img src="../img/test2-img.png">
                                </figure>
                            </a>
                        </div>
                        <div class="movie-title">
                            <p class="sTitle">하이파이브</p>
                            <p class="gpa">평점<img src="../img/star_icon.svg" alt="star_icon">
                                <em>3.2</em>
                            </p>
                        </div>
                    </div>

                    <div class="movie-box">
                        <div class="movie-img">
                            <a href="#">
                                <figure>
                                    <img src="../img/test3-img.png">
                                </figure>
                            </a>
                        </div>
                        <div class="movie-title">
                            <p class="sTitle">하이파이브</p>
                            <p class="gpa">평점<img src="../img/star_icon.svg" alt="star_icon">
                                <em>3.2</em>
                            </p>
                        </div>
                    </div>

                    <div class="movie-box">
                        <div class="movie-img">
                            <a href="#">
                                <figure>
                                    <img src="../img/test4-img.jpg">
                                </figure>
                            </a>
                        </div>
                        <div class="movie-title">
                            <p class="sTitle">하이파이브</p>
                            <p class="gpa">평점<img src="../img/star_icon.svg" alt="star_icon">
                                <em>3.2</em>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </main>

        <footer th:replace="~{/user/layout/footer :: footer}"></footer>

    </div>

</body>
</html>