<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>사용자 관리</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/userManagement.js"></script>


    <script th:inline="javascript">
        let users = /*[[${userList}]]*/;
        console.log(users);
    </script>
</head>

<body>
    <h2>사용자 관리</h2>
    <div class="search-bar-container">
        <input type="text" id="searchInput" name="keyword" placeholder="아이디 또는 이름 검색">
        <button type="submit" id="search-btn">검색</button>
    </div>
    <table class="data-table" id="userTable">
        <thead>
            <tr>
                <th class="col-no">번호</th>
                <th class="col-id">아이디</th>
                <th class="col-name">이름</th>
                <th class="col-status">상태</th>
                <th class="col-actions">관리</th>
            </tr>
        </thead>
        <tbody id="userTableBody"></tbody>
    </table>
</body>
</html>