<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spring project Scene, Share</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/common.css">
    <script src="js/common.js"></script>

</head>


<body>
<div class="wrap">

    <header th:replace="~{/user/layout/header :: headerBasic('main')}"></header>


    <main>
        <div class="container">
            <section class="main-sec1">
                <div class="title">
                    <h4>가장 많이 찾는 영화</h4>
                    <a href="/main/movieListBookmarkCnt" th:href="@{/main/movieListBookmarkCnt}">더보기</a>
                </div>

                <!-- 데이터가 없는 경우 -->
                <div class="none main-page" th:unless="${#lists.size(movieListBookmarkCnt)} > 0">등록된 영화가 없습니다.</div>

                <div class="movie-list">
                    <div class="movie-box" th:if="${#lists.size(movieListBookmarkCnt)} > 0"
                         th:each="item : ${movieListBookmarkCnt}">
                        <div class="movie-img">
                            <a href="#" th:href="@{|/movieDetail/${item.movieId}|}">
                                <figure>
                                    <figcaption>1</figcaption>
                                    <img src="/img/test1-img.jpg" alt="영화 포스터">
                                    <img th:src="${#strings.isEmpty(item.moviePosterUrl)} ? '/img/no-image.png' : ${item.moviePosterUrl}" alt="영화 포스터">
                                </figure>
                            </a>
                            <button type="button" class="bookmark">
                                <span class="heart">보고싶어요</span>
                                <span class="count"><a th:text="${item.bookmarkCnt}">0</a></span>
                            </button>
                        </div>
                        <div class="movie-title">
                            <p class="sTitle" th:text="${item.movieTitle}"></p>
                            <p class="gpa">
                                평점<img src="/img/star_icon.svg" alt="star_icon">
                                <em th:text="${item.rating}">0</em>
                            </p>
                        </div>
                    </div>

                </div>
            </section>


            <section class="main-sec2">
                <div class="title">
                    <h4>최신 영화</h4>
                    <a href="/main/movieListReleaseDate" th:href="@{/main/movieListReleaseDate}">더보기</a>
                </div>

                <!-- 데이터가 없는 경우 -->
                <div class="none main-page" th:unless="${#lists.size(movieListReleaseDate)} > 0">등록된 영화가 없습니다.</div>

                <div class="movie-list">
                    <div class="movie-box" th:if="${#lists.size(movieListReleaseDate)} > 0"
                         th:each="item : ${movieListReleaseDate}">
                        <div class="movie-img">
                            <a href="#" th:href="@{|/movieDetail/${item.movieId}|}">
                                <figure>
                                    <img src="img/test1-img.jpg">
                                </figure>
                            </a>
                            <button type="button" class="bookmark">
                                <span class="heart">보고싶어요</span>
                                <span class="count">0</span>
                            </button>
                        </div>
                        <div class="movie-title">
                            <p class="sTitle" th:text="${item.movieTitle}"></p>
                            <p class="gpa">
                                평점<img src="img/star_icon.svg" alt="star_icon">
                                <em th:text="${item.rating}">0</em>
                            </p>
                        </div>
                    </div>


                </div>
            </section>


            <section class="main-sec3">
                <div class="title">
                    <h4>개봉 예정작</h4>
                    <a href="#">더보기</a>
                </div>

                <div class="movie-list">
                    <div class="movie-box">
                        <div class="movie-img">
                            <a href="#">
                                <figure>
                                    <img src="img/test1-img.jpg">
                                </figure>
                            </a>
                            <button type="button" class="bookmark">
                                <span class="heart">보고싶어요</span>
                                <span class="count">0</span>
                            </button>
                        </div>
                        <div class="movie-title">
                            <p class="sTitle"></p>
                            <p class="open-date">day</p>
                        </div>
                    </div>

                </div>
            </section>


            <section class="main-sec4 page-bottom">
                <div class="title">
                    <h4>영화 추천 리뷰</h4>
                    <a href="/main/boardList" th:href="@{/main/boardList}">더보기</a>
                </div>

                <!-- 리뷰가 없는 경우 -->
                <div class="none" th:unless="${#lists.size(boardList)} > 0">작성된 리뷰가 없습니다.</div>

                <div class="review-list">
                    <div class="review-box" th:if="${#lists.size(boardList)} > 0" th:each="item : ${boardList}">
                        <a href="#">
                            <div class="top">
                                <h6>
<!--                                    <img th:src="@{'/img/profile/' + ${board.userImg}}" class="profile-img" alt="profile">-->
<!--                                    <span th:text="${board.userId}"></span>-->
                                </h6>
                                <div class="star-view">
                                    <img src="img/star_yellow_icon.svg">
                                    <img src="img/star_yellow_icon.svg">
                                    <img src="img/star_yellow_icon.svg">
                                    <img src="img/star_half_icon.svg">
                                    <img src="img/star_grey_icon.svg">
                                </div>
                            </div>
                            <div class="center">
                                <figure class="imgBox">
                                    <img src="img/test4-img.jpg">
                                </figure>
                                <div class="infor">
<!--                                    <h5 class="in-title" th:text="${item.movieTitle}">영화제목</h5>-->
<!--                                    <p class="in-text" th:text="${board.contents}"></p>-->
                                </div>
                            </div>
                            <div class="bottom">댓글 <em>7</em></div>
                        </a>
                    </div>

                </div>
            </section>
        </div>
    </main>


    <footer th:replace="~{/user/layout/footer :: footer}"></footer>

</div>
</body>

</html>