@charset "utf-8";
@import url("fonts.css");

/* RESET */
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
     --main-color: #E90071;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  overflow: hidden;
  overflow-y: auto;
}

body, h1, h2, h3, h4, h5, h6, p, span, button, input, select, textarea, a, table, th, td, dt, dd, ol, ul, li {
  font-family: "Noto Sans KR", sans-serif;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: inline-block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

input, textarea, button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input {
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
}

input:focus {
    outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

div, p, span, h1, h2, h3, h4, h5, h6, li, dt, dd, button {
  box-sizing: border-box;
}


.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

em {
  font-style: normal;
}




/* login.html */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.log-con {
    height: 600px;
    width: 340px;
    padding: 0;
    margin: 0 auto;
}

.log-con .logo {
    text-align: center;
    font-size: 2em;
    color: #333;
}

.logo {
    font-family: 'GmarketSans';
    font-weight: 700;
}

.logo font {
    color: var(--main-color);
}

.log-con h2 {
    margin: 40px 0 30px;
    text-align: center;
    font-family: 'GmarketSans';
    font-weight: 700;
    font-size: 2.5em;
}

.login-area li {
    width: 100%;
    height: 50px;
}

.login-area li:nth-child(2) {
    margin: 8px 0 15px 0;
}

.login-area li input {
    padding: 5px 20px;
    background: #f9f9f9;
    border-radius: 4px;
}

.login-area li input::placeholder {
    color: #aaa;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.login-area li input:focus::placeholder{
    color: transparent;
    opacity: 0;
}

/* Edge */
.login-area li input:focus::-ms-input-placeholder{
    color: transparent;
}

.login-area li .btn-login {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 4px;
}

.join-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0 30px;
    font-size: .9em;
}

.join-area .text {
    
    color: #999;
}

.join-area a {
    color: var(--main-color);
}

.login-etc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.login-etc button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.login-etc .kakao {
    background-color: #f3b720;
}

.login-etc .naver {
    background-color: #06BD34;
}

.login-etc .google {
    background-color: #fff;
    border: 1px solid #ddd;
}


.login-etc .naver img {
    width: 30px;
}




/* ////////// main /////////////// */
.wrap {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Main, Footer */
    height: 100vh;
}

.container {
    max-width: 1320px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

/* header */
header {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: .75rem 0;
}

header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.4em;
}

header .top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    font-size: .85em;
}

header .top-right li:first-child {
    margin-right: 10px;
}

header .top-right form {
    width: 300px;
    height: 38px;
    position: relative;
}

header .top-right label {
    position: absolute;

}

header .top-right input[type=search]{
    outline-offset: 0;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    padding: 5px 20px;
    font-size: 1.05em;
}

header .top-right input::placeholder {
    color: #aaa;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
header .top-right input:focus::placeholder{
    color: transparent;
    opacity: 0;
}

/* Edge */
header .top-right input:focus::-ms-input-placeholder{
    color: transparent;
}

header a {
    display: inline-block;
}

header .top-login-btn a {
    color: #666;
}

header .top-join-btn {
    height: 32px;
}

header .top-join-btn a {
    height: 100%;
    line-height: 30px;
    border: 1px solid #ddd;
    padding: 0 8px;
    border-radius: 4px;
    color: #333;
}


/* footer */
footer {
    background-color: #222;
    padding: 2rem;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px
}

footer .logo {
    font-size: 1em;
    color: #777;
}

footer p {
    font-size: .9em;
    color: #777;
    font-family: 'roboto';
}


/* index.html */
.main-sec1 {

}

.title {
    margin: 4rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title h4 {
    font-size: 1.2em;
    font-weight: 700;
}

.title a {
    font-size: .9em;
    color: #999;
}

.title a::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 10px;
    background: url(../img/main_arrow.svg) no-repeat center ;
    margin-left: 5px;
}

.movie-list {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(calc(20% - 12.8px), auto));
    gap: 16px;
}

.movie-list .movie-img {
    border-radius: 5px;
    width: 100%;
}

.movie-list .movie-img figure {
    width: 100%;
    height: 350px;
    position: relative;
    background-color: #eee;
    position: relative;
}

.movie-list img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 5px 5px 0 0;
}

.movie-list .bookmark {
    background: #222;
    width: 100%;
    height: 36px;
    color: #fff;
    padding: 0 12px;
    transition: color .3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9em;
    border-radius: 0 0 5px 5px;
}

.movie-list .bookmark .heart::before {
    content: '';
    display: inline-block;

}

.movie-list .bookmark .count {
    font-family: 'roboto';
}
