<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spring project Scene, Share</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/common.css">
    <script src="../js/common.js"></script>

</head>


<body>

    <div class="wrap">

        <header th:replace="~{/user/layout/header :: headerBasic('리뷰(게시글) 상세보기')}"></header>


        <main>
            <div class="container page-bottom">

                <div class="review-box grey">
                    <div class="top">
                        <h6><img src="../img/test-profile-img.jpg" class="profile-img">사용자ID<small
                                class="date">2025.07.15</small></h6>
                        <div class="star-view">
                            <img src="../img/star_icon.svg"> 3.5
                        </div>
                    </div>
                    <div class="center">
                        <figure class="imgBox">
                            <img src="../img/test1-img.jpg">
                        </figure>
                        <div class="infor">
                            <h5 class="in-title">하이파이브</h5>
                            <p class="in-row1">2025 &#183; 모험/액션/판타지/가족 &#183; 미국/영국</p>
                            <p class="in-row2">2시간 5분 &#183; 전체</p>
                        </div>
                    </div>
                    <p class="review-all">영화 관람 후기 및 추천 리뷰 내용입니다. 영화 관람 후기 및 추천 리뷰 내용입니다. 영화 관람 후기 및 추천 리뷰
                        내용입니다. 영화 관람 후기 및 추천 리뷰 내용입니다. 영화 관람 후기 및 추천 리뷰 내용입니다. </p>

                    <div class="bottom">
                        <p class="reply">댓글 3</p>
                        <div class="btn-area">
                            <button type="button" class="btn-re-write" onclick="location.href='#popup_re_write';">댓글</button>
                            <button type="button" class="btn-update" onclick="location.href='#popup_update';">수정</button>
                            <button type="button" class="btn-delete" onclick="location.href='#popup_delete';">삭제</button>
                        </div>
                    </div>
                </div>

                <div class="reply-list">
                    <div class="reply-box">
                        <h6 class="re-user-id"><img src="../img/test-profile-img.jpg" class="profile-img">userid<small
                                class="re-date">2025.07.15</small></h6>
                        <div class="re-text">재미있어요! 재미있어요! 재미있어요!</div>
                        <div class="re-btn-area">
                            <button type="button" class="btn-re-update"
                                onclick="location.href='#popup_re_update';">수정</button>
                            <span></span>
                            <button type="button" class="btn-re-delete"
                                onclick="location.href='#popup_re_delete';">삭제</button>
                        </div>
                    </div>

                    <div class="reply-box">
                        <h6 class="re-user-id"><img src="../img/test-profile-img.jpg" class="profile-img">userid<small
                                class="re-date">2025.07.15</small></h6>
                        <div class="re-text">예고편 봤는데 기대되고 보고 싶네요! 예고편 봤는데 기대되고 보고 싶네요! 예고편 봤는데 기대되고 보고 싶네요! 예고편 봤는데 기대되고
                            보고 싶네요! 예고편 봤는데 기대되고 보고 싶네요!</div>
                        <div class="re-btn-area">
                            <button type="button" class="btn-re-update"
                                onclick="location.href='#popup_re_update';">수정</button>
                            <span></span>
                            <button type="button" class="btn-re-delete"
                                onclick="location.href='#popup_re_delete';">삭제</button>
                        </div>
                    </div>

                    <div class="reply-box">
                        <h6 class="re-user-id"><img src="../img/test-profile-img.jpg" class="profile-img">userid<small
                                class="re-date">2025.07.15</small></h6>
                        <div class="re-text">재미있어요! 재미있어요! 재미있어요!</div>
                        <div class="re-btn-area">
                            <button type="button" class="btn-re-update"
                                onclick="location.href='#popup_re_update';">수정</button>
                            <span></span>
                            <button type="button" class="btn-re-delete"
                                onclick="location.href='#popup_re_delete';">삭제</button>
                        </div>
                    </div>

                </div>

            </div>
        </main>

        <footer></footer>


        <!-- 리뷰 수정 팝업 -->
        <div class="overlay_flight" id="popup_update">
            <div class="pop_con">
                <div class="pop_header">
                    <h5 class="pop_title">하이파이브</h5>
                    <button type="button" class="btn_close" onclick="location.href='#';"></button>
                </div>
                <div class="pop_input">
                    <div class="rating"></div>

                    <textarea id="myTextarea" maxlength="10000" placeholder="이 작품에 대한 생각을 자유롭게 표현해주세요."></textarea>
                </div>
                <div class="pop_footer">
                    <div class="counter">
                        <span id="charCount">0</span> / 10000
                    </div>
                    <button type="submit" class="save">수정</button>
                </div>
            </div>
        </div>


        <!-- 리뷰 삭제 팝업 -->
        <div class="overlay_flight" id="popup_delete">
            <div class="pop_con comfirm">
                <div class="pop_message">
                    <h5>알림</h5>
                    <p>리뷰를 삭제하시겠습니까?</p>
                </div>
                <div class="pop_btns">
                    <button type="button" class="btn_cancel" onclick="location.href='#';">취소</button>
                    <button type="button" class="btn_delete" onclick="location.href='#';">확인</button>
                </div>
            </div>
        </div>


        <!-- 댓글 쓰기 팝업 -->
        <div class="overlay_flight" id="popup_re_write">
            <div class="pop_con">
                <div class="pop_header">
                    <h5 class="pop_title">댓글</h5>
                    <button type="button" class="btn_close" onclick="location.href='#';"></button>
                </div>
                <div class="pop_input">
                    <div class="rating"></div>

                    <textarea id="myTextarea" maxlength="10000" placeholder="이 작품에 대한 생각을 자유롭게 표현해주세요."></textarea>
                </div>
                <div class="pop_footer">
                    <div class="counter">
                        <span id="charCount">0</span> / 10000
                    </div>
                    <button type="submit" class="save">저장</button>
                </div>
            </div>
        </div>


        <!-- 댓글 수정 팝업 -->
        <div class="overlay_flight" id="popup_re_update">
            <div class="pop_con">
                <div class="pop_header">
                    <h5 class="pop_title">댓글</h5>
                    <button type="button" class="btn_close" onclick="location.href='#';"></button>
                </div>
                <div class="pop_input">
                    <div class="rating"></div>

                    <textarea id="myTextarea" maxlength="10000" placeholder="이 작품에 대한 생각을 자유롭게 표현해주세요."></textarea>
                </div>
                <div class="pop_footer">
                    <div class="counter">
                        <span id="charCount">0</span> / 10000
                    </div>
                    <button type="submit" class="save">수정</button>
                </div>
            </div>
        </div>


        <!-- 댓글 삭제 팝업 -->
        <div class="overlay_flight" id="popup_re_delete">
            <div class="pop_con comfirm">
                <div class="pop_message">
                    <h5>알림</h5>
                    <p>댓글을 삭제하시겠습니까?</p>
                </div>
                <div class="pop_btns">
                    <button type="button" class="btn_cancel" onclick="location.href='#';">취소</button>
                    <button type="button" class="btn_delete" onclick="location.href='#';">확인</button>
                </div>
            </div>
        </div>


        <footer th:replace="~{/user/layout/footer :: footer}"></footer>

    </div>

</body>

</html>